#home {
  height: 100vh;
  background: url(https://i.imgur.com/il6TlTp.png) no-repeat;
  object-fit: cover;
  background-size: cover;
}

#HeroTxt{
  font-size: 4rem;
  font-weight: 800;
  color: #DEE3F5;
  margin-left: 8rem;
  margin-top: 8.5rem;
}
#heroBtn{
    margin-left: 8rem;
}

#hero {
  display: flex;
}

#hero img{
    margin-top: 3.5rem;
    margin-left: 8rem;
    height: 70vh;
}
#hero button{
    margin: 4px;
    border: none;
    width: 15rem;
    height: 3.5rem;
    background-color: #5675E5;
    font-size: medium;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}#heroBtn a{
    cursor: default;
}

#hero button {
    cursor: pointer;
    --color: #5675E5;
    font-family: inherit;
    display: inline-block;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: var(--color);
}

#hero button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
    height: 130px;
    width: 420px;
    border-radius: 50%;
}

#hero button:hover {
    color: var(--color);
}

#hero button:before {
    top: 100%;
    left: 100%;
    transition: all .3s ease;
}

#hero button:hover:before {
    top: -30px;
    left: -30px;
}

#hero button:active:before {
    background: #aab7e8;
    transition: background 0s;
}



#destacados{
    height: 100vh;
    margin: 0;
    background-color: #10012D;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#destacados h2{
   
    margin: 0;
    font-size: 4rem;
  font-weight: 800;
  color: #DEE3F5;
  
}
#grupoDestacados{
    display: grid;
    justify-items: center;
grid-template-columns: repeat(2, 200px);
grid-template-rows: repeat(2, auto);
grid-gap: 5px;
width: 27rem;
height: 33rem;
-moz-transform: skew(-18deg, 0deg);
-webkit-transform: skew(-18deg, 0deg);
-o-transform: skew(-18deg, 0deg);
-ms-transform: skew(-18deg, 0deg);
transform: skew(-18deg, 0deg);


}
.cards{
    height: 15rem;
    width: 12rem;
    background-color: #DEE3F5;
    border-radius: 15px;
    margin: 4px;
    display: block;
    text-align: center;
    cursor: pointer;
}
#test1{
    margin-top: 3rem;
}
#test2{
    margin-top: -2.5rem;
}
.desElements{
    width: 50%;
    padding: 2rem;
    text-shadow: #fff 0 0 60px;
    transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}
.desElements:hover {
    text-shadow: #fff 0 0 5px;
    transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}

.cards img{
    margin-top: 1.5rem;
   height: 4rem;
   object-fit:cover;
    border-radius: 5px;
    border: 3px #5675E5 solid;
    
}
.cards label{
    font-size: 12px;
    margin: 15px;
}
.cards h4{
    
    margin: 10px 0px;
}
#starSpan{
    margin-top: 15px;
}

#close{
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#image{
    margin-top: 17rem;
    width: 40%;
}
#close h2{
    
    margin-bottom: 10rem;
    margin-right: 5rem;
    font-size: 3rem;
    font-weight: 800;
    color: #DEE3F5;
    text-align: right;
}


#starSpan{
    display: flex;
    justify-content: center;

}
.cards ::ng-deep label.star{
    font-size: 1rem !important;
    float: right !important;
    padding: 0 3px !important;
}
.cards ::ng-deep label.star:checked, ::ng-deep label.star:before{
    text-shadow: 0 0 10px #b00f99 !important;
    color: #b00f99 !important;
}