<section class="home">

  <div class="testNav">
    <navBar></navBar>

  </div>
  <div id="hero">
    <div class="left">
      <h2>Compart<span class="blue">e</span> lo <br> qu<span class="cyan">e</span> sab<span class="pink">e</span>s!!
      </h2>
      <span id="heroBtn">
        <a href=""><button>Sign in</button></a>
        <a href=""><button>Start now</button></a>
      </span>
    </div>

    <div class="right">
      <img src="https://i.imgur.com/RLqcytY.png" alt="">
    </div>
  </div>

</section>


<!--
cyan
pink
blue

-->
