<section id="home">

  <div class="testNav">
    <navBar></navBar>

  </div>
  <div id="hero">
    <div class="left">
      <h2 id="HeroTxt" >Compart<span class="blue">e</span> lo <br> qu<span class="cyan">e</span> sab<span class="pink">e</span>s!!
      </h2>
      <span id="heroBtn">
        <a routerLink="inicio-sesion"><button>Sign in</button></a>
        <a routerLink="/feed"><button>Start now</button></a>
      </span>
    </div>

    <div class="right">
      <img src="https://i.imgur.com/RLqcytY.png" alt="">
    </div>
  </div>

</section>

<section id="destacados">
    <div  class="desElements"  id="grupoDestacados">
        <div class="cards" ></div>
        <div class="cards" ></div>
        <div class="cards" ></div>
        <div class="cards" ></div>
    </div>
    <div class="desElements" >
        <h2>Publicacion<span class="pink">e</span>s D<span class="cyan">e</span>stacadas!!</h2>
    </div>
    
</section>
<section id="close">

  <div  class="desElements"  id="image">
      <img src="https://i.imgur.com/m5kgvzR.png" alt="">
  </div>
  <div class="desElements" >
      <h2>Lo único que n<span class="pink">e</span>cesitas para aprend<span class="cyan">e</span>r, son <span class="pink">e</span>sas ganas vorac<span class="pink">e</span>s de consumir lo <br> inci<span class="cyan">e</span>rto.</h2>
  </div>
  
</section>

<!--
cyan
pink
blue

-->
