*{
    font-family: 'Montserrat', sans-serif;
}
#createGroup{
    margin-top: 40px;
    width: 55vw;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
#flexPagina{
    display: flex;
    justify-content: center;
}
#Crear{
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

#Information{
    display: flex;
    align-items: center;
    flex-direction: column;
}

input, textarea, select{
    font-size: 20px;
    display: block;
    width: 35vw;
    margin-bottom: 10px;
    background-color: #aab7e8;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    resize: none;
}textarea:focus::placeholder,input:focus::placeholder{
    color: #FFF;
}input::placeholder, textarea::placeholder{
    color: #dee3f5;
    font-weight: 600;
    font-size: 18px;
}select{
    width: 36.5vw;
    color:#FFF;
}

button{
    background-color: #5675e5;
    color: #FFF;
    border: none;
    border-radius:  7px;
    width: 7vw;
    height: 5vh;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #30479b;
}