*{
    font-family: 'Montserrat', sans-serif;
}
#createGroup{
    margin-top: 40px;
    width: 85vw;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
#flexPagina{
    display: flex;
    justify-content: center;
}
#Crear{
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

#Information{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.columnas{
    display: flex; flex-direction: column; align-items: center;
    min-width: 350px; justify-content: center; padding: 15px;
}.columnas:nth-child(2){
    height: 57vh;
}

input, select,
:host /deep/ angular-editor .angular-editor-textarea{
    font-size: 20px;
    display: block;
    width: 35vw;
    margin-bottom: 10px;
    background-color: #aab7e8;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    resize: none;
    color: #445496;;
}textarea:focus::placeholder,input:focus::placeholder{
    color: #FFF;
}input::placeholder, textarea::placeholder{
    color: #dee3f5;
    font-weight: 600;
    font-size: 18px;
}select{
    width: 36.064vw;
    color: #445496;
}

button{
    background-color: #5675e5;
    color: #FFF;
    border: none;
    border-radius:  7px;
    width: 7vw;
    height: 5vh;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: #30479b;
}
#err{
    color: #b00f99;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

/*Editor de texto*/

:host /deep/ angular-editor{
    background-color: #aab7e8;
    border-radius:  7px;
    color: #445496;
    width: 36vw;
    height: 50vh;
    box-sizing: border-box !important;
    overflow-y: auto; overflow-x: hidden;
}
:host /deep/ angular-editor .angular-editor-textarea, 
:host /deep/ angular-editor .angular-editor-wrapper{
    border-radius:  7px;
    resize: none;
    border: none !important;
    position: relative;
}
:host /deep/ angular-editor .angular-editor-wrapper{
    padding-top: 45px !important;
}
:host /deep/ angular-editor .angular-editor-toolbar{
    border-top-left-radius:  7px;
    border-top-right-radius: 7px;
    background-color: #5675e5 !important;
    border: none; width: 35.5vw;
    position: fixed; z-index: 10000;
}
:host /deep/ angular-editor .angular-editor-button.active {
    background-color: #aab7e8 !important;
}