<section id="contenido">
  <navBar></navBar>


  <div id="padre" *ngIf="temporizador==1">
    <div id="cuerpo" class="children">

      <h2>{{peticion.documentos[0].titulo}}</h2>

      <img src="{{peticion.documentos[0].background}}" alt="">

      <p id="content" [innerHTML]="peticion.documentos[0].descripcion"></p>

    </div>

    <div id="rating" class="children">
      <div id="rCenter">
        <ngx-star-rating [ngModel]="estrellas" id="star"></ngx-star-rating>
      </div>
    </div>

    <div id="comments" class="children">
      <h2>Comentarios</h2>
    </div>

  </div>


</section>