<section id="contenido">
  <navBar></navBar>


  <div id="padre" *ngIf="temporizador==1">
    <div id="cuerpo" class="children">
      <span id="bSpan"><i #bookmark (click)="savePub(bookmark)" id="bookmark" class="fa">&#xf097;</i></span>
      <h2>{{peticion.documentos[0].titulo}}</h2>

      <img src="{{peticion.documentos[0].background}}" alt="">

      <p id="content" [innerHTML]="peticion.documentos[0].descripcion"></p>
      <Label>Publicado el {{peticion.documentos[0].fecha}}</Label>

    </div>

    <div id="rating" class="children">
      <form id="rCenter" [formGroup]="form">
        <ngx-star-rating #star formControlName="rating" id="star"></ngx-star-rating>
        <button class="calificar" *ngIf="!pCalificada" (click)="calificado()">Calificar</button>
        <button class="calificar" id="calificado" *ngIf="pCalificada">Listo!</button>
      </form>
      <span *ngIf="errorCalificar.estado && errorCalificar.mensaje" id="loginErr">
        {{errorCalificar.mensaje}}
      </span>
      <span *ngIf="errorCalificar.estado  && !errorCalificar.mensaje" id="loginErr">
        Debes <a routerLink="/inicio-sesion">iniciar sesion</a> o <a routerLink="/registrarse">registrarte</a> para acceder a esta funcionalidad
      </span>
    </div>

    <div id="user" class="children" (click)="goAuthor()">
      <div class="userChildren">
        <img src="{{urlImage}}" alt="" id="profilePhoto">
      </div>
      <div class="userChildren">
        <h2>{{peticion.documentos[0].autor}}</h2>
        <label style="color: #b00f99;">Autor</label>
      </div>
    </div>

    <div id="comments" class="children">
      <h2>Comentarios</h2>
      <ng-container *ngFor="let c of comments">
        <!-- es el dueno -->
        <div class="comentarios"
          *ngIf="userActual.userName == autorP.userName || userActual.userName == c.messages.userName">
          <div class="foto">
            <img src="{{c.messages.image}}" alt="not found">
          </div>
          <div class="contenidoComent">
            <h6>
              <label class="t1">{{c.messages.userName}}</label>
              <label class="t2"><span (click)="eliminarComentario(c.messages)">X</span></label>
            </h6>
            <h6> {{c.messages.message}} </h6>
            <h6> {{c.messages.fecha}} </h6>
          </div>
        </div>
        <!-- no es el dueno -->
        <div class="comentarios"
          *ngIf="(userActual.userName != autorP.userName && userActual.userName != c.messages.userName) || !isLogeado">
          <div class="foto">
            <img src="{{c.messages.image}}" alt="not found">
          </div>
          <div class="contenidoComent">
            <h6>
              <label class="t1">{{c.messages.userName}}</label>
            </h6>
            <h6> {{c.messages.message}} </h6>
            <h6> {{c.messages.fecha}} </h6>
          </div>
        </div>
      </ng-container>
      <!-- opciones de enviar -->
      <form id="enviar" (submit)="sendMensaje()" *ngIf="isLogeado">
        <input type="text" name="ms" placeholder="Mensaje" [(ngModel)]="messageSend">
        <button type="submit">Enviar</button>
      </form>
    </div>

  </div>

</section>