#contenido{
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    font-weight: 500;
    min-height: 100vh;
    width: 100vw;
}
#padre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vw;
}
#cuerpo{
    padding-top: 4rem;
    display: inline-block;
    text-align: center;
    width: 50vw;
}
#cuerpo p{
    text-align: justify;
}
#cuerpo img{
    height: 20rem;
}
#rating{
    text-align: center;
    display: flex;
    justify-content: center;
}

.children{
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 1vw;
    width: 49vw;
}

/* Estrellas */

#rating ::ng-deep label.star{
    font-size: 2rem !important;
    float: right !important;
    padding: 0 3px !important;
}
#rating ::ng-deep label.star:checked, ::ng-deep label.star:before{
    text-shadow: 0 0 10px #b00f99 !important;
    color: #b00f99 !important;
}