#contenido{
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    font-weight: 500;
    min-height: 100vh;
    max-width: 100vw;
}
#padre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
}
#cuerpo{
    padding-top: 4rem;
    display: inline-block;
    text-align: center;
}
#cuerpo p{
    text-align: justify;
}
#cuerpo img{
    height: 20rem;
}
#rating{
    text-align: center;
    display: flex;
    justify-content: center;
}#rCenter{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.children{
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    border-radius: 7px;
    padding: 1vw;
    width: 49vw;
}

/* Estrellas */

#rating ::ng-deep label.star{
    font-size: 2rem !important;
    float: right !important;
    padding: 0 3px !important;
    user-select: none;
}
#rating ::ng-deep label.star:checked, ::ng-deep label.star:before{
    text-shadow: 0 0 10px #b00f99 !important;
    color: #b00f99 !important;
}#calificar {
    cursor: pointer;
    --color: #b00f99;
    font-family: inherit;
    display: inline-block;
    width: 5.6em;
    height: 2em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: var(--color);
}

#calificar:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
    height: 100px;
    width: 200px;
    border-radius: 50%;
}

#calificar:hover {
    color: var(--color);
}

#calificar:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#calificar:hover:before {
    top: -30px;
    left: -30px;
}

#butCreate:active:before {
    background: #aab7e8;
    transition: background 0s;
}