#Feed {
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    font-weight: 500;
    min-height: 100vh;
    max-width: 100vw;
}

input {
    color: #ffffff;
    font-size: 20px;
    display: block;
    width: 35vw;
    height: 3.3rem;
    margin-bottom: 10px;
    background-color: #aab7e8;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 15px;
    outline: none;
    display: inline-block;
}

input:focus::placeholder {
    color: #FFF;
}

input::placeholder {
    color: #dee3f5;
    font-weight: 600;

}

#search {
    margin: 40px auto auto;
}

#btnSearch {
    margin: -8.6rem;
    border: none;
    width: 8rem;
    height: 3rem;
    background-color: #5675E5;
    font-size: 20px;
    font-weight: 100;
    color: white;
    border-radius: 5px;
}

#principalFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#barraBusqueda {
    margin-top: 6rem;
}

#addAndFilter {
    display: flex;
    justify-content: flex-end;
    padding-right: 18rem;
    margin-top: 5rem;
    font-size: 1.25rem;
    font-weight: 700;
    width: 100%;
    align-items: flex-end;
}



#createLink {
    width: 8em;
    height: 2.6em;
}

#addAndFilter select {
    font-size: 1.1rem;
    border: none !important;
    outline: none !important;
    background-color: #1e193d;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
    color: white;
    font-weight: 400;
    padding: 6px;
}

#addAndFilter a {
    text-decoration: none;
}

.Content {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 25px;
}

.gridContent {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    flex-direction: column;
    color: #5675E5;
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    height: 22rem;
    width: 16rem;
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.card__time {
    font-size: 0.9rem;
    color: #5675E5;
    vertical-align: middle;
    margin-right: 25px;
    font-weight: 800;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    cursor: pointer;
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #5675E5;
    text-decoration: none;
    cursor: pointer;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card__by {
    font-size: 12px;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #5675E5;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
/* Estrellas */

::ng-deep label.star{
    font-size: 1rem !important;
    float: right !important;
    padding: 0 3px !important;
}
::ng-deep label.star:checked, ::ng-deep label.star:before{
    text-shadow: 0 0 10px #b00f99 !important;
    color: #b00f99 !important;
}