<section id="Feed">
    <navBar></navBar>
    <div id="principalFlex">
        <div>
            <form id="search">
                <input type="text" placeholder="Ingresa tu búsqueda...">
                <button id="btnSearch" type="submit">Buscar</button>
            </form>
        </div>

        <div id="addAndFilter">
            <a routerLink="/create">Crear</a>&nbsp;&nbsp;
            <select id="filtroSelect" #filter (change)="filtro(filter)">
                <option name="all">Mostrar todos</option>
                <option name="category"><a routeLink="/">Categorías</a></option>
                <option name="author">Autores</option>
            </select>
        </div>

        <section id="dataBaseCards">
            <div id="Content">
                <article class="card" *ngFor="let card of peticiones.documentos">

                    <div class="gridContent">

                        <div class="card__info-hover">
                            <div class="card__clock-info">
                                <span class="card__time">{{card.fecha}}</span>
                            </div>
                        </div>

                        <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            class="card__img"></div>
                        <a routerLink="/verMas/{{card._id}}">
                            <div style="background: url({{card.background}});      background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat; " class="card__img--hover"></div>
                        </a>
                        <div class="card__info">
                            <span class="card__category">{{card.categoria}}</span>
                            <h3 class="card__title">{{card.titulo}}</h3>
                            <span class="card__by">por <a routerLink="/perfil/" class="card__author"
                                    title="Autor">Autor</a></span>
                        </div>

                        <!-- <h3>{{card.titulo}}</h3>
                <div class="calificAndButton">
                    <label>Calificacion: {{card.calificacion}}</label><br>
                    <a routerLink="/"><button>Ver más</button></a>
                </div> -->
                    </div>
                </article>
            </div>
        </section>
    </div>
</section>