<section id="Feed">
    <navBar></navBar>
    <div id="principalFlex">
        <div id="searchContent">
            <input id="barraBusqueda" #search type="text" (keypress)="enter($event, search)"
                placeholder="{{searchPlaceholder}}" [(ngModel)]="searchValue">
            <button (click)="buscar(search)" id="btnSearch">Buscar</button>
        </div>

        <div id="addAndFilter">

            <div>
                <select id="filtroSelect" #filter (change)="filtro(filter)" name="filtro">
                    <option name="all">Mostrar todos</option>
                    <option name="category">Categorías</option>
                    <option name="author">Autores</option>
                </select>
            </div>
        </div>

        <!-- Mostrar todo -->

        <section class="dataBaseCards" *ngIf="opcion == 0">
            <div class="Content">
                <article class="card" *ngFor="let card of peticiones.documentos; let i = index">

                    <div class="gridContent">

                        <div class="card__info-hover">
                            <div class="card__clock-info">
                                <span class="card__time">{{card.fecha}}</span>
                            </div>
                        </div>

                        <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            class="card__img"></div>
                        <a routerLink="/verMas/{{card._id}}">
                            <div style="background: url({{card.background}});      background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat; " class="card__img--hover"></div>
                        </a>
                        <div class="card__info">
                            <span class="card__category" (click)="red(card.categoria)">{{card.categoria}}</span>
                            <h3 class="card__title">{{card.titulo}}</h3>
                            <ngx-star-rating [ngModel]="card.calificacion" id="star_{{i}}" [disabled]="true">
                            </ngx-star-rating>
                            <span class="card__by">por <a routerLink="/perfil/{{card.autorId}}" class="card__author"
                                    title="Autor">{{card.autor}}</a></span>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- Categoria -->

        <section class="dataBaseCards" *ngIf="opcion == 1">
            <div class="Content">
                <article class="card" *ngFor="let card of peticiones.doccategorias">

                    <div class="gridContent">

                        <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            class="card__img"></div>
                        <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            (click)="red(card.basicName)" class="card__img--hover"></div>
                        <div class="card__info">
                            <h3 class="card__title">{{card.name}}</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <!-- Perfiles -->

        <section class="dataBaseCards" *ngIf="opcion == 2">
            <div class="Content">
                <article class="card" *ngFor="let card of peticiones.docPerfiles">

                    <div class="gridContent">

                        <div style="background: url({{card.urlImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            class="card__img"></div>
                        <a routerLink="/perfil/{{card._id}}">
                            <div style="background: url({{card.urlImage}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                                class="card__img--hover"></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">{{card.userName}}</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>

    </div>
</section>