<section id="Feed">
    <navBar></navBar>
    <div id="principalFlex">
        <div>
            <form id="search">
                <input type="text" placeholder="Ingresa tu búsqueda...">
                <button id="btnSearch" type="submit">Buscar</button>
            </form>
        </div>

        <div id="addAndFilter">
            <a routerLink="/create">Crear</a>&nbsp;&nbsp;
            <select id="filtroSelect" #filter (change)="filtro(filter)">
                <option name="all">Mostrar todos</option>
                <option selected name="category">Categorías</option>
                <option name="author">Autores</option>
            </select>
        

        </div>

        <section id="dataBaseCards">
            <div id="Content">
                <article class="card" *ngFor="let card of peticiones.doccategorias">

                    <div class="gridContent">

                        <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                            class="card__img"></div>
                        <a routerLink="/category/{{card.basicName}}">
                            <div style="background: url({{card.background}});      background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat; " class="card__img--hover"></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">{{card.name}}</h3>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</section>