<section id="generalSession">
    <navBar></navBar>
    <div id="centrar-x">
        <div id="centar">
            <form #formInicioSesion="ngForm" (submit)="verificarSingIn(formInicioSesion)">
                <h3>Iniciar sesi&oacute;n</h3>
                <input name="email" type="text" placeholder="Correo electrónico" [(ngModel)]="userSingIn.userName">
                <input name="contrasena" type="password" placeholder="Contraseña" [(ngModel)]="userSingIn.email">
                <button type="submit">Enviar datos</button>
                <label>¿No tienes cuenta? <a routerLink="/registrarse" style="color: #b00f99;">Crea una aquí</a></label>
            </form>
            <div>
                <img class="iconosSession" src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png" alt="not found">
                <img class="iconosSession" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="not found">
            </div>
        </div>
    </div>
</section>