<section id="generalSession">
    <div id="centrar-x">
        <div id="centar">
            <form #formInicioSesion="ngForm" (submit)="verificarSingIn(formInicioSesion)">
                <h3>Iniciar sesi&oacute;n</h3>
                <input name="email" type="text" placeholder="Correo electrónico" [(ngModel)]="userSingIn.userName">
                <input name="contrasena" type="text" placeholder="Contraseña" [(ngModel)]="userSingIn.email">
                <button type="submit">Enviar datos</button>
            </form>
            <div>
                <img class="iconosSession" src="https://cdn-icons.flaticon.com/png/512/2504/premium/2504739.png?token=exp=1654298608~hmac=7352a2549ab8cb7b1d41373cf27a8082" alt="no found">
                <img class="iconosSession" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="no found">
            </div>
        </div>
    </div>
</section>