*{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1e193d;
}
.cyan{
    color: #32EEFF;
}
.blue{
    color: #5675E5;
}
.pink{
    color: #F10CC2;
}