#contenido{
    background: url(https://i.imgur.com/il6TlTp.png) no-repeat #1e193d;
    object-fit: cover;
    background-size: cover;
    color: #dee3f5;
    font-weight: 500;
    min-height: 100vh;
    width: 100vw;
}
#sections{
    padding: 8rem 6rem 1rem 6rem;
    display: flex;
    justify-content: space-around;

}
.columna{
    text-align: center;
    
    border-radius: 15px;
    background-color: #c4d0f881;
}
#cards{
    padding: 1rem 0;
   display: flex;
   justify-content: center;
    width: 45vw;
}
#profile{
    height: 85vh;
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.2);
    
}
#profile img {
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
}
#descripcion{
    padding: 0 4rem;
}
.Content {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 25px;
}

.gridContent {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
    flex-direction: column;
    color: #5675E5;
}

.card {
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    height: 16.6rem;
    width: 13rem;
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
}

.card__time {
    font-size: 0.7rem;
    color: #5675E5;
    vertical-align: middle;
    margin-right: 25px;
    font-weight: 600;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    cursor: pointer;
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 180px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8px 20px 20px 20px;
    
}
#stars{
    display: flex;
    justify-content: center;
}

.card__category {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #5675E5;
    text-decoration: none;
    cursor: pointer;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}

.card__by {
    
    font-size: 9px;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #5675E5;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}
/* Estrellas */

::ng-deep label.star{
    font-size: 0.7rem !important;
    float: right !important;
    padding: 0 3px !important;
}
::ng-deep label.star:checked, ::ng-deep label.star:before{
    text-shadow: 0 0 10px #b00f99 !important;
    color: #b00f99 !important;
}

#btnChat {
    cursor: pointer;
    --color: #b00f99;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    background-color: var(--color);
}

#btnChat:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: white;
    height: 100px;
    width: 200px;
    border-radius: 50%;
}

#btnChat:hover {
    color: var(--color);
}

#btnChat:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#btnChat:hover:before {
    top: -30px;
    left: -30px;
}

#btnChat:active:before {
    background: #aab7e8;
    transition: background 0s;
}