<section id="contenido">
    <navBar></navBar>
    <div id="sections">
        <div id="cards" class="columna">
            <div>
                <section class="dataBaseCards">
                    <div class="Content">
                        <article class="card" *ngFor="let card of peticiones.documentos; let i = index">
                            <div class="gridContent">
                                <div class="card__info-hover">
                                    <div class="card__clock-info">
                                        <span class="card__time">{{card.fecha}}</span>
                                    </div>
                                </div>

                                <div style="background: url({{card.background}}); background-size: cover; background-position: center; background-repeat: no-repeat; "
                                    class="card__img"></div>
                                <a routerLink="/verMas/{{card._id}}">
                                    <div style="background: url({{card.background}});      background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat; " class="card__img--hover"></div>
                                </a>
                                <div class="card__info">
                                    <span class="card__category" (click)="red(card.categoria)">{{card.categoria}}</span>
                                    <h3 class="card__title" title="{{card.titulo}}">{{card.tituloC}}</h3>
                                    <div class="card__delete" *ngIf="logerActual.estado && logerActual.userID==parametro"><i class="fa fa-trash" (click)="deletePost(card._id, card.titulo)"></i></div>
                                    <div id="stars">
                                        <ngx-star-rating [ngModel]="card.calificacion.promedio" id="star_{{i}}"
                                            [disabled]="true"></ngx-star-rating>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

            </div>
        </div>

        <div *ngIf="mostrar" id="profile" class="columna">
            <h2>{{ perfil.userName }}</h2>
            <img src="{{ perfil.urlImage }}" alt="">
            <div id="descripcion">
                <p>{{ perfil.userDescripcion }}</p>
                <h5>Email: {{ perfil.email }} </h5>
                <a routerLink="/chat/{{perfil._id}}" *ngIf="logerActual.estado"><button id="btnChat">Abrir
                        chat</button></a>
            </div>
        </div>
    </div>
</section>