<section id="contenido">
  <navBar></navBar>


  <div id="sections">
        <div id="cards" class="columna">

        </div>

    <div id="profile" class="columna">
        <h2>Nombre</h2>
        <img src="https://pixinvent.com/materialize-material-design-admin-template/app-assets/images/user/12.jpg" alt="">
        <div id="descripcion">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil velit facilis rerum, aut atque? Dolorum nostrum quidem dolores a autem assumenda, incidunt praesentium quam ipsam perspiciatis aspernatur nobis ipsa.</p>
        </div>
    </div>
  </div>


</section>

