<div id="chat">
    <navBar></navBar>
    <div id="nameProfe">
        Aaron Alicastro
    </div>
    <div id="containerChat">
        <div id="mesasge">
            <div id="scroll">
                <div class="messages you">
                    <h6>you</h6>
                    Buenasss
                    <h6>16:00 <b>visto</b></h6>
                </div>
                <div class="messages other">
                    <h6>El broder</h6>
                    HOlA BROO
                    <h6>16:00</h6>
                </div>
                <div class="messages you">
                    <h6>you</h6>
                    A LA CALLE O QUE
                    <h6>16:00 <b>visto</b></h6>
                </div>
                <div class="messages other">
                    <h6>El broder</h6>
                    AY si ya estoy afura de tu casa :)
                    <h6>16:00</h6>
                </div>
                <div class="messages you">
                    <h6>you</h6>
                    AY SII ya salgo
                    <h6>16:30</h6>
                </div>
                <div class="messages other">
                    <h6>El broder</h6>
                    ._.
                    <h6>16:30</h6>
                </div>
            </div>
        </div>
        <div id="opcionesChat">
            <input type="text" placeholder="Escribe un mensaje">
            <div>
                <button>Enviar</button>
            </div>
        </div>
    </div>
</div>