<div id="chat">
    <navBar></navBar>
    <div id="nameProfe">
        <div>
            Aaron Alicastro
        </div>
        <div>
            <div class="positionFiltrar"> <!-- este es el filter -->
                <div class="containerChekBox">
                    <div class="containerChekBox-absulute containerChekBox-absulute1">
                        <div id="componet-print">
                            <input class="inputFilter" type="text" name="tipoFiltro" value="Tipo filtro" readonly>
                            <div>></div>
                        </div>
                        <div class="componets componets1">Autor</div>
                        <div class="componets componets1">Titulo</div>
                        <div class="componets componets1">Descripcion</div>
                        <div class="componets componets1">Imagen</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="containerChat">
        <div id="mesasge">
            <div id="scroll">
                <!-- <div class="messages you">
                    <h6>you</h6>
                    Buenasss
                    <h6>16:00 <b>visto</b></h6>
                </div>
                <div class="messages other">
                    <h6>El broder</h6>
                    HOlA BROO
                    <h6>16:00</h6>
                </div> -->
            </div>
        </div>
        <div id="opcionesChat">
            <input type="text" placeholder="Escribe un mensaje">
            <div>
                <button>Enviar</button>
            </div>
        </div>
    </div>
</div>