<section id="generalSession">
    <navBar></navBar>
    <div id="centrar-x">
        <div id="centar">
            <form #formPerfil="ngForm" (submit)="sendPerfil(formPerfil)">
                <h3 (click)="obterner()">Registro</h3> <!-- esto no me debería causar un problema -->
                <input name="userName" type="text" placeholder="Nombre de usuario" [(ngModel)]="perfil.userName">
                <textarea name="userDescripcion" placeholder="Descripción (opcional)" [(ngModel)]="perfil.userDescripcion"></textarea>
                <input name="urlImage" type="text" placeholder="Url-imagen (opcional)" [(ngModel)]="perfil.urlImage">
                <input name="email" type="text" placeholder="Correo electrónico" [(ngModel)]="perfil.email">
                <input name="contrasena" type="password" placeholder="Contraseña" [(ngModel)]="perfil.contrasena">
                <button type="submit">Enviar datos</button>
                <label>¿Ya tienes una cuenta? <a routerLink="/inicio-sesion" style="color: #b00f99;">Sing in</a></label>
            </form>
            <div>
                <img class="iconosSession" src="https://cdn-icons.flaticon.com/png/512/2504/premium/2504739.png?token=exp=1654298608~hmac=7352a2549ab8cb7b1d41373cf27a8082" alt="no found">
                <img class="iconosSession" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="no found">
            </div>
        </div>
    </div>
</section>